<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AulaMiriam_TelaDeLogin.Properties.Settings.Aulas_CSharpConnectionString"
            connectionString="Data Source=DESKTOP-C89AJ0F\SQL2017;Initial Catalog=Aulas_CSharp;Integrated Security=True;User=sa;Password=_43690"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>